.signup-wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.title{
    font-weight: 500;
    font-size: 1.2 rem;
    text-align: center;
}
.p-login{
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
}