.navbar{
    background-color: var(--theme);
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    color: var(--white);
    font-size: 1.2rem;
    margin: 0;
}
.link{
    opacity: 0.7;
    cursor: pointer;
}
.link:hover{
    opacity: 1;
    transition: all 0.3s;
}