:root{
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: 'Montserrat', sans-serif;
}

.custom-input{
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 0;
  margin-top: -1rem !important;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.3sec;
}

@media screen and (max-width: 1000px) {
  .charts-wrapper{
    flex-direction: column;
    gap: 2rem;
  }
  
  .charts-wrapper .line-chart, .charts-wrapper .pie-chart {
    width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 600px) {
  .ant-table-content{
    font-size: 10px;
  }
  .ant-table-wrapper .ant-table-thead>tr>th , .ant-table-wrapper .ant-table-tbody>tr>td{
    padding: 10px 10px;
  }
  .my-table .ant-radio-button-wrapper{
    padding-inline: 5px !important;
  }
  .my-table .ant-table-cell{
    padding: 5px !important;
  }
}

@media screen and (max-width: 500px) {
  .my-card{
    min-width: 100% !important; 
  }
  .ant-radio-button-wrapper{
    font-size: 12px;
  }
  .table-nav .btn, .table-nav .file-csv{
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .my-row, .table, .chart{
    margin: 1rem 0.2rem !important;
    width: calc(100% - 0.4rem) !important;
  }
  .chart{
    padding: 0.2rem !important;
    width: calc(100% - 0.8rem) !important;
  }
  .my-table{
    padding: 1rem !important;
  }
}